
@font-face {
	font-family: "UbuntuMono";
	src: url('../fonts/UbuntuMono-R.ttf');
}
@font-face {
	font-family: "UbuntuMono";
	font-style: italic;
	src: url('../fonts/UbuntuMono-RI.ttf');
}
@font-face {
	font-family: "UbuntuMono";
	font-weight: bold;
	src: url('../fonts/UbuntuMono-B.ttf');
}

body {
    background-color: #fbfbfb !important;
    font-family: "UbuntuMono",  Arial, Helvetica, Verdana, sans-serif;
}
/********************
        Carousel
********************/

.carousel-inner> .item> img {
  largeur: 1640px;
  hauteur: 1360px;
}

/********************
        Posts
********************/

.blog {
    margin-top: 100px;
}

.posts{
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 30px;
}

.posts h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.posts span {
    font-style: italic;
    font-weight: normal;
}

.posts_content{
    margin-top: 30px;
}

.posts .btn {
    margin-top: 30px;
}

.img_post {
    width: 100%;
}

/********************
        COMMENTAIRE
********************/
.post {
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 5px solid #eaeaea;
}

.comments {
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 30px;
    
}

.comment {
    list-style: none;
    border-bottom: 2px solid #c3c0c0;
    padding-bottom: 15px; 
    
}

.comment h4 {
    color: #fa9f0baa;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 15px;
}

.comment p {
    display: flex;
    padding: 0;
}

.comment p span {
    font-style: italic;
    font-size: 14px;
    color: #888888;
    padding: 0;
}

.comment p {
    margin-top: 15px; 
}

.form_comment {
    margin-top: 30px;
}

/********************
        WIDGET
********************/

.sidebar{
    margin-top: 100px;
}
.widget{
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 50px;
}


/********************
        FOOTER
********************/

footer {
    height: 50px;
    background-color: #2e2e2e;
    color: #dadada;
    display: flex;
}

.footerText {
    margin: auto;
}

.designBy {
    text-align: right;
}

.designBy a {
    color: #fff;
}


/********************
    ADMIN / EDIT
********************/

.formEdit {
    padding-bottom: 100px;
}

.listCategories {
    padding-top: 50px;
    padding-bottom: 100px;
}

.listCategories h3 {
    padding: 20px 0 20px 0;
}

/********************
    ADMIN / COMMENTS
********************/

.commentSignal {
    color: red;
}
.commentApproved {
    color: green;
}