
@font-face {
	font-family: "UbuntuMono";
	src: url('../fonts/UbuntuMono-R.ttf');
}
@font-face {
	font-family: "UbuntuMono";
	font-style: italic;
	src: url('../fonts/UbuntuMono-RI.ttf');
}
@font-face {
	font-family: "UbuntuMono";
	font-weight: bold;
	src: url('../fonts/UbuntuMono-B.ttf');
}

body {
    background-color: #fbfbfb !important;
    font-family: "UbuntuMono",  Arial, Helvetica, Verdana, sans-serif;
}

a:hover {
    text-decoration: none;
}
/********************
        ALERT
********************/

.infoText {
    color: #ff7b86;
}

.footAlert {
    font-style: italic;
}

.footAlert a {
    color: #2eb2ff;
}

/********************
        Posts
********************/

.blog {
    margin-top: 100px;
}

.posts{
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 30px;
}

.posts h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.posts span {
    font-style: italic;
    font-weight: normal;
}

.posts_content{
    margin-top: 30px;
}

.posts .btn {
    margin-top: 30px;
}

.img_post {
    width: 100%;
}

/********************
        COMMENTAIRE
********************/
.post {
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 5px solid #eaeaea;
}

.comments {
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 30px;
    
}

.comment {
    list-style: none;
    border-bottom: 2px solid #c3c0c0;
    padding-bottom: 15px; 
    
}

.comment h4 {
    color: #fa9f0baa;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 15px;
}

.comment p {
    display: flex;
    padding: 0;
}

.comment p span {
    font-style: italic;
    font-size: 14px;
    color: #888888;
    padding: 0;
}

.comment p {
    margin-top: 15px; 
}

.form_comment {
    margin-top: 30px;
}

/********************
        WIDGET
********************/

.sidebar{
    margin-top: 100px;
}
.widget{
    width: 100%;
    height: auto;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px 6px rgba(195,195,195,.12);
    padding: 25px 60px;
    margin-bottom: 50px;
}



/********************
        FOOTER
********************/

footer {
    height: 50px;
    background-color: #2e2e2e;
    color: #dadada;
    display: flex;
}

.footerText {
    margin: auto;
}

.designBy {
    text-align: right;
}

.designBy a {
    color: #fff;
}



/********************
    ADMIN / EDIT
********************/

.formEdit {
    padding-bottom: 100px;
}

.listCategories {
    padding-top: 50px;
    padding-bottom: 100px;
}

.listCategories h3 {
    padding: 20px 0 20px 0;
}

/********************
    ADMIN / COMMENTS
********************/

.commentSignal {
    color: red;
}
.commentApproved {
    color: green;
}
.messageComment {
    background-color: #a0cce2;
    display: flex;
    height: 50px;
    border: #101010 1px solid;
    border-radius: 10px;
    display: none;
}

.messageComment span {
    margin: auto;
}

/********************
      page 404
********************/

h4{
    color: #253858;
    margin-bottom: .8rem;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(113, 120, 126);
    font-family: 'Lato', sans-serif;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-round {
    border-radius: 30px !important;
    text-decoration: none;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 9px 25px;
    border-width: 2px;
    box-shadow: 0 3px 8px 0 rgba(41,49,89,.15), inset 0 0 0 1px hsla(0,0%,100%,.1);
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
/*[404 error page]
--------------------------*/
.error-content {
    padding: 0 0 70px;
}
.error-text{
    text-align: center;
}
.error {
    font-size: 180px;
    font-weight: 100;
}
@keyframes bob {
    0% {
        top: 0;
    }
    50% {
        top: 0.2em;
    }
}
.im-sheep {
    display: inline-block;
    position: relative;
    font-size: 1em;
    margin-bottom: 70px;
}
.im-sheep * {
    transition: transform 0.3s;
}
.im-sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
}
.im-sheep:hover .head {
    transform: rotate(0deg);
}
.im-sheep:hover .head .im-eye {
    width: 1.25em;
    height: 1.25em;
}
.im-sheep:hover .head .im-eye:before {
    right: 30%;
}
.im-sheep:hover .top {
    animation-play-state: paused;
}
.im-sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background: #253858;
    vertical-align: middle;
    position: relative;
    top: 1em;
    transform: rotate(30deg);
}
.im-sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background: #253858;
    position: absolute;
    bottom: 0;
    right: -10%;
    border-radius: 50% 40%;
}
.im-sheep .head:hover .im-ear.one, .im-sheep .head:hover .im-ear.two {
    transform: rotate(0deg);
}
.im-sheep .head .im-eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
}
.im-sheep .head .im-eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: all 0.3s;
}
.im-sheep .head .im-eye.one {
    right: -2%;
    top: 1.7em;
}
.im-sheep .head .im-eye.two {
    right: 2.5em;
    top: 1.7em;
}
.im-sheep .head .im-ear {
    background: #253858;
    width: 50%;
    height: 30%;
    border-radius: 100%;
    position: absolute;
}
.im-sheep .head .im-ear.one {
    left: -10%;
    top: 5%;
    transform: rotate(-30deg);
}
.im-sheep .head .im-ear.two {
    top: 2%;
    right: -5%;
    transform: rotate(20deg);
}
.im-sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    background: #0054D1;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
}
.im-sheep .im-legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: -1;
}
.im-sheep .im-legs .im-leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
}
.im-sheep::before {
    left: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 18%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/********************
      IMAGE ADMIN
********************/

.gallery {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}


/****************/
.btn06 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn06 img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.btn06 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn06 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn06 .buttons .fa {
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    opacity: 0;
    position: relative;
    color: transparent;
}
.btn06 .buttons .fa-link {
    left: 22px;
}
.btn06 .buttons .fa-search {
    left: -22px;
}
.btn06:hover .buttons .fa {
    opacity: 1;
    left: 0;
    color: rgba(50, 50, 50, 0.9);
}
.btn06:hover .ovrly {
    opacity: 1;
}